<h1>All Posts</h1>

<% @posts.reverse.each do |post| %>
    <p><%= link_to post.supe.name, supe_path(post.supe) %></p>
    <%= post.content %></p>

    <% if post.has_media? %>
        <% if post.has_image? %>
            <%= image_tag url_for(post.post_file) %>
        <% else %>
            <%= video_tag url_for(post.post_file), controls: true %>
        <% end %>
    <% end %>


<% end %>