/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
    font-family: 'Kumbh Sans', sans-serif;
 }

 body {
     position: relative;
     margin: auto;
     width: 1366px;
     height: 748px;
     display: grid;
     grid-template-columns: repeat(6, 1fr);
     grid-template-rows: repeat(4, 1fr);
     grid-gap: 1rem;
 }

 .banner {
     grid-column: 2 / span 4;
     grid-row: 1 / span 1;
     background-color: black; 
     max-height: 210px;
 }

 .banner-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    max-height: 210px;
    align: center;
  }

 .left-panel {
    grid-column: 2 / span 1;
    grid-row: 2 / span 4;
    background-color: white;
 }

 .profile-name {
   text-align: center;
   text-decoration: underline;
 }

 .main-panel {
     grid-column: 3 / span 3;
     grid-row: 2 / span 4;
     background-color: white;
     padding: 15px;
 }

 .content-wrapper {
     overflow: scroll;
     width: 100%;
     padding: 15px;
     margin: -15px;
     background-color: white;
 }
 /* =========================================== 
    Nav Buttons
 ==============================================*/


 ul.nav {
    height: 40px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    border-bottom: 0.5px solid black;

   }
   
   ul.nav li {
    line-height: 40px;
    display: inline-block;
    padding: 0px 20px;
    background-color: lightgray;
    border-top-right-radius: 10px;
    margin-left: -40px;
    margin-right: 38px;
  }
 
  ul.nav li:hover {
   background-color: white;
   transition: 0.5s;
  }

  ul.user-nav li {
    display: block;
    height: 33px;
    line-height: 40px;
    padding: 0px 30px;
    background-color: lightgray;
    border-radius: 5px;
    margin-top: 4px;
    margin-left: -16px;
    margin-right: 26px;
    text-align: center;
  }
  ul.user-nav li:hover {
    background-color: white;
    transition: 0.5s;
   }
 
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: #04586D;
  }

  .profile-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    background-color: lightgrey;
    border: 0.5px solid black;
    margin-left: 6px;
  }

/* =========================================== 
    Supe index
 ==============================================*/
 .supe-index-container {
     display: grid;
     grid-template-columns: repeat ( 3 / 1fr);
     grid-template-rows: 1fr 1fr 1fr;
     background-color: lightgray;
     border-radius: 10px;
     height: 150px;
     margin: 15px;
 }
 .index-image-cropper{
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 0.5px solid black;
}

 .supe-index-image {
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
 }

 .supe-index-name {
     display: grid;
     grid-column: 2 / span 2;
     grid-row: 1 / span 1;
     margin-bottom: 0px;
 }

 .supe-index-description {
     display: grid;
     grid-column: 2 / span 2;
     grid-row: 2 / span 1;
     margin-bottom: 0px;
 }

 .supe-index-action-button {
     display: grid;
     grid-column: 2 / span 2;
     grid-row: 3 / span 1;
     text-align: right;
     padding-right: 50px;
 }

 /* =========================================== 
    Supe Profile
 ==============================================*/
 
 .profile-container {
     background-color: lightgray;
     border-radius: 10px;
     padding: 15px;
     margin: 15px;
 }

 .supe-profile-image {
     width: 575px;
     border-radius: 10px;
 }
 .profile-bio {
     border-bottom: 1px solid black;
     padding-top: 10px;
     padding-bottom: 5px;
    
 }

 .profile-action-button {
    text-align: right;
    padding-right: 25px;
 }

/* =========================================== 
    posts
 ==============================================*/
.post-container {
    background-color: lightgray;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 600px;
}

.post-profile-image-cropper {
    display: grid;
    grid-column: 1 / span 1;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 0.5px solid black;
}
.supe-post-image {
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
}

.post-header {
    grid-column: 2 / span 5;
    display: grid;
    grid-template-rows: 1fr 1fr; 
    border-bottom: 0.5px solid darkgrey;
}

.poster-name {
    grid-row: 1 / span 1;
}

.post-date {
    grid-row: 2 / span 1;
    font-size: 12px;
}
.post-content {
    display: grid;
    grid-column: 2 / span 5;
}

.media-container {
    grid-column: 2 / span 5;
    width: 500px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    border: 0.5px solid black;
} 

.post-media {
    width:100%; 
    height:100%;
    object-fit: cover;
}

.stats {
    grid-column: 2 / span 5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    border-top: 0.5px solid darkgrey;
    padding-top: 10px;
}

.likes {
    grid-column: 3 / span 1;
    text-align: right;
    padding-right: 5px;
}

.like-button {
    grid-column: 4 / span 1;
}

.comments {
    grid-column: 5 / span 1;
    text-align: right;
    padding-right: 5px;
}

.comment-button {
    grid-column: 6 / span 1;
}
