* {
  font-family: "Kumbh Sans", sans-serif;
}

html {
  height: 100vh;
  width: 100vw;
  background: url(asset_path("background-image.jpg")) no-repeat center center
    fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.supe-social-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  width: 50%;
}

.login-container {
  position: relative;
  margin: auto;
  width: 700px;
  background: rgba(192, 192, 192, 0.8);
  border-radius: 10px;
  padding: 15px;
  margin-top: 10vh;
  text-align: center;
}

.login_button {
  margin-top: 13px;
  width: 90px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #04586d;
}
