// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.profile-page-name {
    text-align: center;
    text-decoration: underline;
}

.user-section-titles {
    text-decoration: underline;
}

.user-page-heroes {    
    display: block;
    height: 33px;
    line-height: 40px;
    padding: 0px 30px;
    background-color: lightgray;
    border-radius: 5px;
    margin-top: 4px;
    width: fit-content;
    text-align: left;
}

.user-page-events {
    display: block;
    height: 33px;
    line-height: 40px;
    padding: 0px 30px;
    background-color: lightgray;
    border-radius: 5px;
    margin-top: 4px;
    width: fit-content;
    text-align: center;
}

.user-cart-name {
    text-align: center;
    text-decoration: underline;
}

.user-cart-table {
    display: table;
    width: 100%;
    table-layout: fixed;
    th, td {
        border-bottom: 2px solid #c9c9c9;
        padding: 5px;
        text-align: center;
      }
}

.buy-merchandise {
    display: block;
    height: 33px;
    line-height: 40px;
    padding: 0px 30px;
    background-color: lightgray;
    border-radius: 5px;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.edit-profile {
    display: block;
    height: 33px;
    line-height: 40px;
    padding: 0px 30px;
    background-color: lightgray;
    border-radius: 5px;
    margin-top: 4px;
    width: fit-content;
    text-align: center;
}

.logout {
    display: block;
    height: 33px;
    line-height: 40px;
    padding: 0px 30px;
    background-color: lightgray;
    border-radius: 5px;
    margin-top: 4px;
    width: fit-content;
    text-align: center;
}