<h1> Buy stuff from your favorite Hero!</h1>


<%  sorted = @products.hero_sort%>
<%  sorted.each do |product| %>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Add to Cart</th>
    </tr>
    <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <% end %>
    </tr>
</table>
